@use "../setting/setting";

.c-button {
  position: relative;
  margin: 36px auto 0;
  width: fit-content;
}

@media (min-width: 1024px) {
  .c-button.-left_pc {
    margin-left: 0;
  }
}

.c-button-link {
  padding: 10px 40px 10px 32px;
  display: inline grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 1em;
  align-items: center;
  inline-size: min(100%, 400px);
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  color: setting.$color-main;
  border: 2px solid setting.$color-main;
  transition: 0.2s;

  &::before {
    content: ""; /* 空の疑似要素を用意する */
  }

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background: url(../images/common/arrow.svg) no-repeat center center/contain;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
}

.c-button-link:hover {
  color: setting.$color-main;
  background: #fff;

  &::after {
    background: url(../images/common/arrow-circle.svg) no-repeat center
      center/contain;
    width: 20px;
    height: 20px;
    right: 6%;
  }
}

.c-button-link.__white {
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  background: transparent;
  transition: 0.2s;

  &::after {
    background: url(../images/common/arrow-white.svg) no-repeat center
      center/contain;
  }
}

.c-button-link.__white:hover {
  background: setting.$color-main;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  text-decoration: underline;

  &::after {
    background: url(../images/common/arrow-white.svg) no-repeat center
      center/contain;
    width: 10px;
    height: 10px;
  }
}
