@use "../setting/setting";

.c-cta {
  background: url(../images/top/top-recruit2.jpg) no-repeat center center/cover;
  padding: 48px 0;
}

.c-cta__heading {
  display: flex;
  align-items: center;
}

.c-cta__heading span {
  color: #fff;
  text-transform: uppercase;
  font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
  font-family: setting.$font-english;
  font-weight: 400;
}

.c-cta__heading h2 {
  color: #fff;
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem) /* 16-18px */;
  margin-left: 16px;
  margin-top: 4px;
}

.c-cta__content {
  margin-top: 8px;
}

.c-cta__textarea {
  color: #fff;
}

.c-cta__link {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}

.c-cta__button {
  position: relative;
  width: fit-content;
}

.c-cta__button a {
  padding: 10px 40px 10px 32px;
  display: inline grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 1em;
  align-items: center;
  inline-size: min(100%, 400px);
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  color: #fff;
  border: 2px solid #fff;
  transition: 0.2s;

  &::before {
    content: ""; /* 空の疑似要素を用意する */
  }

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background: url(../images/common/arrow-white.svg) no-repeat center
      center/contain;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
}

@media (min-width: 768px) {
  .c-cta__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .c-cta__link {
    gap: 40px;
    margin-top: 12px;
  }
}

@media (min-width: 768px) {
  .c-cta {
    padding: 88px 0;
  }
}
