@use "../setting/setting";

.c-heading__top span {
  text-transform: uppercase;
  font-family: setting.$font-english;
  color: setting.$color-main;
  font-size: clamp(1.75rem, 0.932rem + 4.09vw, 4rem);
  letter-spacing: 1px;
  line-height: 1.2;
}

.c-heading__top h2 {
  color: setting.$color-main;
  font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
}

.c-heading__section span {
  color: setting.$color-main;
  text-transform: capitalize;
  font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
  font-family: setting.$font-english;
  font-weight: 400;
}

.c-heading__section h2 {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem) /* 16-18px */;
  letter-spacing: 1px;
}

.c-heading__section span.-white {
  color: #fff;
}
