@use "../setting/setting";
.c-section {
  padding: 40px 0;
}

@media (min-width: 1024px) {
  .c-section {
    padding: 64px 0;
  }
}

.c-section__heading {
  h2 {
    position: relative;
    text-align: center;
    padding-top: 16px;
  }
}

.c-section__textarea {
  margin-top: 24px;
}

.c-section__textarea p {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .c-section__grid {
    display: grid;
    grid-template-columns: 6fr 4fr; /* 7:3 の比率 */
    gap: 24px; /* 任意の間隔 */
    align-items: center;
  }
}
