@use "../setting/setting";

.c-textarea {
  max-width: 680px;
  margin: 32px auto 0;
}

.c-textarea h3 {
  margin-top: 36px;
  font-size: 20px;
  line-height: 1.5;
  border-bottom: 1px solid #fff;
  padding-bottom: 4px;
}

.c-textarea p {
  margin-top: 32px;
  line-height: 1.85;
}

.c-textarea ul {
  margin-top: 20px;
}

.c-textarea li {
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 8px;

  &::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.5em;
    margin-top: -4px;
  }
}
