:root{
  --main-color: #047ac4;
  --border-color: #ececec;
  --font-color: #242422;
  --footer-font-color: #a6adb6;
  --base-font: "Noto Sans", "Noto Sans CJK JP", "Noto Sans CJK JP Subset","Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic", "游ゴシック", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo";
  --english-font: "Oswald", serif;
}

/*-------------------------
  基本設定
-------------------------*/

body {
  font-family: var(--base-font);
  font-weight: 500;
  color: var(--font-color);
  line-height: 1.75;
}

/*-------------------------
  レイアウト調整
-------------------------*/
.l-inner {
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
  margin: 0 auto;
}

.u-mt-36{
  margin-top: 36px;
}

.u-center{
  text-align: center;
}

.u-left--pc{
  margin-left: 0;
}

.u-justify-center{
  justify-content: center;
}

.u-white{
  color: #fff;
}

.u-inline-auto{
margin-inline: auto;
}

.u-width-720{
  max-width: 720px;
  margin-inline: auto;
}

/*-------------------------
  ブロック
-------------------------*/
.c-block {
  padding: 40px 0;
}

@media (min-width: 1024px) {
  .c-block {
    padding: 64px 0;
  }
}

.c-block--background {
  background: var(--main-color);
}

.c-block__heading h2 {
  position: relative;
  text-align: center;
  padding-top: 16px;
}

.c-block__textarea {
  margin-top: 24px;
}

.c-block__textarea p {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .c-block__grid {
    display: grid;
    grid-template-columns: 6fr 4fr; /* 7:3 の比率 */
    gap: 24px; /* 任意の間隔 */
    align-items: center;
  }
}


/*-------------------------
  見出し
-------------------------*/

/* TOPページの見出し */
.c-top-heading span {
  text-transform: uppercase;
  font-family: var(--english-font);
  font-size: clamp(2.25rem, 1.682rem + 2.84vw, 3.813rem);
  letter-spacing: 1px;
  line-height: 1.2;
  color: var(--main-color);
}

.c-top-heading h2 {
  font-size: clamp(1.375rem, 1.17rem + 1.02vw, 1.938rem);
}

.c-top-heading--center{
  text-align: center;
}

.c-block-heading span {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: clamp(1.938rem, 1.528rem + 2.05vw, 3.063rem);
  font-family: var(--english-font);
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.35;
}

.c-block-heading h2 {
  font-size: clamp(1.063rem, 0.994rem + 0.34vw, 1.25rem);
  letter-spacing: 1px;
}

.c-block-heading .u-white{
  color: #fff;
}

/*-------------------------
  ボタン
-------------------------*/
.c-buttons{
  position: relative;
  display: flex;
  gap: 16px;
  text-align: center;
}

.c-button {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.c-button__link {
  border: 2px solid var(--main-color);
  color: var(--main-color);
  text-align: center;
  padding: 12px 16px;
  letter-spacing: 1px;
  border-radius: 40px;
  display: block;
  transition: .4s;
  position: relative;
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
  width: 240px;
  background-color: #fff;
}

.c-button__link:after{
  content: '';
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  background: url('../images/icon/link.svg') no-repeat;
  background-size:contain;   
  height:24px;
  width: 24px;
}

.c-button__link:hover{
  transform: scale(1.05);
  opacity: .7;
  color: var(--main-color);
  background: #fff;
}

/*-------------------------
  テキストエリア
-------------------------*/

.c-textarea {
  max-width: 680px;
  margin: 32px auto 0;
}

.c-textarea h3 {
  margin-top: 36px;
  font-size: 20px;
  line-height: 1.5;
  border-bottom: 1px solid #fff;
  padding-bottom: 4px;
}

.c-textarea p {
  margin-top: 32px;
  line-height: 1.85;
}

.c-textarea ul {
  margin-top: 20px;
}

.c-textarea li {
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 8px;
}

.c-textarea li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5em;
  margin-top: -4px;
}

/*-------------------------
  テーブル
-------------------------*/
.c-table {
  width: 100%;
  max-width: 720px;
  margin: 24px auto 0;
  border-collapse: collapse;
}

.c-table th, 
.c-table td{
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.c-table th {
  width: 100px;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  padding: 24px 0;
}

.c-table td {
  padding: 24px 0 24px 12px;
}

@media (min-width: 1024px) {
  .c-table {
    margin-top: 40px;
  }

  .c-table th {
    width: 25%;
    max-width: 200px;
    padding-left: 12px;
  }
}

/*-------------------------
  カード
-------------------------*/
.c-card__body{
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 2%;
  margin-top: 16px;
}

.c-card__body::after{
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  background: url(../images/icon/link.svg) no-repeat center center/contain;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.c-card__subtitle{
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 12px;
  font-size: clamp(0.938rem, 0.915rem + 0.11vw, 1rem);
}

.c-card__title{
  font-size: clamp(1.188rem, 1.051rem + 0.68vw, 1.563rem);
}

/*-------------------------
  CTA
-------------------------*/

.c-cta {
  background: url(../images/common/cta.jpg) no-repeat center center/cover;
  padding: 48px 0;
}

.c-cta__heading {
  display: flex;
  align-items: center;
}

.c-cta__heading span {
  color: #fff;
  text-transform: uppercase;
  font-size: clamp(2.25rem, 1.682rem + 2.84vw, 3.813rem);;
  font-family: "Lato", serif;
  font-weight: 400;
}

.c-cta__heading h2 {
  color: #fff;
  font-size: clamp(1.063rem, 0.994rem + 0.34vw, 1.25rem);
  margin-left: 16px;
  margin-top: 4px;
}

.c-cta__content {
  margin-top: 8px;
}

.c-cta__textarea {
  color: #fff;
}

@media not screen and (min-width: 768px){
  .c-cta__button{
    margin: 36px auto 0;
  }
}

@media (min-width: 768px) {
  .c-cta {
    padding: 88px 0;
  }

  .c-cta__content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

}

/*-------------------------
  タブ
-------------------------*/
.c-tab {
  display: flex;
  margin: 0 -10px;
  color: #9fa0a0;
  font-weight: 300;
}

.c-tab > .active {
  color: var(--main-color);
  font-weight: bold;
}

.c-tab__item {
  cursor: pointer;
  border-bottom: 1px solid;
  text-align: center;
  margin: 0 10px;
  padding: 0 0 10px;
  width: 33.3333333333%;
}

.c-tab__content {
  display: none;
}

.c-tab__content.c-tab__content--show {
  display: block;
}

/*-------------------------
  ヘッダー
-------------------------*/
.l-header {
  height: 60px;
  width: 100%;
  z-index: 100;
  position: absolute;
}

.l-header__inner {
  max-width: 1440px;
  margin: 0 auto;
}

.l-header__menu li {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--font-color);
  position: relative;
}

.l-header__menu li:after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.2s;
}

.l-header__menu li:hover::after{
  transform: scale(1,-1);
}

.l-header__logo {
  font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
  font-weight: bold;
}

/* ハンバーガーメニューが表示されている場合 */
@media not all and (min-width: 1024px) {
  
  .l-header {
    background: #fff;
  }

  .l-header__logo {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    z-index: 1000;
    letter-spacing: 1px;
  }

  .l-header__logo a {
    position: relative;
  }

  .l-header__logo--pc{
    display: none;
  }

  .l-header__nav {
    position: fixed;
    right: -100%; /* メニューの位置マイナス指定で画面外に */
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.3s;
  }

  .l-header__menu {
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .l-header__menu li {
    display: flex;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid var(--border-color);
    letter-spacing: 0.1em;
    position: relative;
  }

  .l-header__menu li:first-child {
    border-top: 1px solid var(--border-color);
  }

  .l-header__menu a {
    position: relative;
    padding-left: 24px;
  }

  .l-header__menu a:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background: url(../images/icon/arrow.svg) no-repeat center center/contain;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .l-header__nav.open {
    position: absolute;
    right: 0; /* メニューオープン時位置0にして画面内に */
    z-index: 100;
    top: 60px;
  }
}


/* 1024px以上のスタイリング */
@media (min-width: 1024px) {
  .l-header {
    padding: 0 40px;
    height: 80px;
  }

  .l-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  .l-header__logo--sp{
    display: none;
  }

  .l-header__logo--pc{
    width: 160px;
  }

  .l-header__nav {
    display: flex;
  }

  .l-header__menu {
    /* メニューを横に */
    display: flex;
    gap: 40px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .8);
  }

  .l-header__menu li{
    color: #fff;
  }
}



/*-------------------------
  ハンバーガーメニュー
-------------------------*/

.c-hamburger {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ハンバーガーメニューの基準線 */
.c-hamburger__line {
  display: block;
  position: relative;
  width: 24px;
  height: 1px;
  background-color: var(--main-color);
  transition: 0.2s;
  margin: 0 auto;
}

/* ハンバーガーメニューの上下線 */
.c-hamburger__line::before,
.c-hamburger__line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  transition: 0.5s;
  left: 0;
}

.c-hamburger__line::before {
  transform: translateY(-10px); /* 上の線の位置 */
}

.c-hamburger__line::after {
  transform: translateY(10px); /* 下の線の位置 */
}

/* メニューオープン時 */
.c-hamburger__line.open {
  background-color: transparent; /* 真ん中の線を透明に */
}

.c-hamburger__line.open::before,
.c-hamburger__line.open::after {
  content: "";
  background-color: var(--main-color);
  transition: 0.2s;
}

.c-hamburger__line.open::before {
  transform: rotate(45deg); /* 上の線を傾ける */
}

.c-hamburger__line.open::after {
  transform: rotate(-45deg); /* したの線を傾ける */
}

@media (min-width: 1024px) {
  .c-hamburger {
    display: none;
  }
}

 /*================================
	フッター
=================================*/
.l-footer {
  padding: 40px 6% 24px;
  background: #283037;
  color: #d9d9d9;
}

.l-footer__inner {
  max-width: 1440px;
  margin: 0 auto;
}

.l-footer__contents {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.l-footer__logo {
  font-size: clamp(18.75px, 0.234vw + 18.000px, 22.5px);
}

.l-footer__address {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem) /* 14-16px */;
  margin-top: 8px;
}

.l-footer__menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.l-footer__menu li {
  color: #d9d9d9;
  position: relative;
}

.l-footer__menu li:after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #d9d9d9;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.2s;
}

.l-footer__menu li:hover::after{
  transform: scale(1,-1);
}

.l-footer__copy {
  font-size: 12px;
  color: #555;
  margin-top: 64px;
  display: block;
  font-family: "Jost", sans-serif;
}

@media (min-width: 1024px) {
  .l-footer {
    padding: 64px 40px 40px;
  }

  .l-footer__contents {
    flex-direction: row;
    justify-content: space-between;
  }

  .l-footer__menu {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
  }

  .l-footer__copy {
    text-align: right;
  }
}

 /*================================
	TOPページ
=================================*/
/* メインビジュアル */
.p-main-visual {
  background: url(../images/top/mv-sp.jpg) no-repeat center center/cover;
  height: 74vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px){
  .p-main-visual{
    background: url(../images/top/mv.jpg) no-repeat center center/cover;
  }
}

.p-main-visual__copy {
  text-align: center;
}

.p-main-visual__copy h1 {
  text-transform: uppercase;
  color: #fff;
  font-family: var(--english-font);
  font-weight: 400;
  font-size: clamp(35.91px, 2.856vw + 26.772px, 61.04px);
  letter-spacing: 2px;
}

@media (min-width: 1024px){
  .p-main-visual__copy h1{
    letter-spacing: 12px;
  }
}

.p-main-visual__copy p {
  color: #fff;
  font-size: clamp(1.188rem, 1.051rem + 0.68vw, 1.563rem);
  letter-spacing: 0.25em;
}

@media (min-width: 1024px){
  .p-main-visual__copy p br{
    display: none;
  }
}

@media (min-width: 1024px) {
  .p-main-visual {
    height: 84vh;
  }
}

/* 採用情報 */
.p-top-recruit {
  padding: 40px 0;
  background: url(../images/top/top-recruit-background.jpg) no-repeat top center/cover;
  position: relative;
  height: 100%;
  background-attachment: fixed;
}


.p-top-recruit__title{
  display: flex;
  align-items: center;
}

.p-top-recruit__title h2{
  align-self: center;
  font-size: clamp(1.063rem, 0.994rem + 0.34vw, 1.25rem);
  padding-left: 16px;
  margin-top: 4px;
}

.p-top-recruit__title span{
  font-size: clamp(2.25rem, 1.682rem + 2.84vw, 3.813rem);
  font-weight: bold;
  color: var(--main-color);
  text-transform: uppercase;
  font-family: var(--english-font);
  letter-spacing: .1em;
}

.p-top-recruit__heading p{
  font-size: clamp(1.375rem, 1.17rem + 1.02vw, 1.938rem);
  font-weight: bold;
}

.p-top-recruit__images--gallery{
       display: grid;
  grid-template-columns: 1fr 1fr; /* 2つの列を50%ずつに設定 */
  gap: 10px; /* 必要に応じて間隔を調整 */
  margin-top: 16px;
}

.p-top-recruit__images--single{
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.p-top-recruit__content{
  margin: 40px 0;
}

.p-top-recruit__content p {
  margin: 0 auto 8px;
  font-weight: bold;
}

.p-top-recruit__content br{
  display: none;
}

.p-top-recruit__button{
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .p-top-recruit {
    padding: 120px 0 88px;
  }

  .p-top-recruit__wrap {
    display: grid;
    grid-template-columns: 60% 40%;

  }

  .p-top-recruit__content br{
    display: block;
  }

  .p-top-recruit__button{
    margin-left: 0;
  }
}

/* 事業内容 */
.p-top-service {
  padding: 40px 0;
  position: relative;
  background: #F5F5F5;
}

.p-top-service__desc {
  margin-top: 16px;
}

.p-top-service__button{
  margin: 36px auto 0;
}

.p-top-service__slider{
  margin-top: 40px;
}

.slick-slide img{
  object-fit: cover;
  margin: 0 16px;
}

.slick-slide{
  margin: 0 16px;
}

@media (min-width: 1024px) {
  .p-top-service {
    padding: 120px 0;
  }

  .p-top-service__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .p-top-service__button{
    margin-right: 0;
  }

  .slick-slide{
    margin-top: 64px;
  }

  .slick-slide img{
    height: 300px;
    width: 300px;
  }
}

@media (min-width: 768px) {
  .p-top-service::before {
    width: 64%;
    height: 80%;
  }
}

/* 会社紹介 */
.p-top-company {
  padding: 40px 0;
  background: #fff;
}

.p-top-company__list {
  margin-top: 24px;
  gap: 40px;
  display: grid;
}

.p-top-company__item:hover{
  opacity: .7;
}


.p-top-company__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.p-top-company__image._image-company {
  background: url(../images/top/buildings.jpg) no-repeat center center/cover;
}

.p-top-company__image._image-message {
  background: url(../images/top/messages.jpg) no-repeat center center/cover;
}

.p-top-company__title {
  text-align: center;
  z-index: 2;
  width: 100%;
}

.p-top-company__title h3 {
  position: relative;
  width: 200px;
  margin: 0 auto;
  font-size: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
}

.p-top-company__title h3::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: url(../images/icon/arrow-white.svg) no-repeat center center/contain;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .p-top-company__list {
    grid-template-columns: 1fr 1fr; /* 2つの列を50%ずつに設定 */
  }
  .p-top-company__link {
    height: 350px;
  }
}

@media (min-width: 1024px) {
  .p-top-company {
    padding: 120px 0 88px;
  }

  .p-top-company__list {
    margin-top: 40px;
    gap: 64px; /* 必要に応じて間隔を調整 */
  }
}

/*-------------------------
  下層ページのタイトル
-------------------------*/

.l-page-header {
  background: url(../images/common/page-header.jpg) no-repeat center center/cover;
  object-position: top;
  position: relative;
}

.l-page-header::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);

}

.l-page-header__heading {
  text-align: center;
  padding: 120px 0 64px;
  text-shadow: 0 0 20px rgba(0, 0, 0, .6);
  z-index: 2;
}

.l-page-header__heading span {
  text-transform: uppercase;
  color: #fff;
  font-family: var(--english-font);
  font-weight: bold;
  font-size: clamp(2.25rem, 1.682rem + 2.84vw, 3.813rem);
  letter-spacing: 2px;
  line-height: 1.2;
}

.l-page-header__heading h2 {
  color: #fff;
  font-size: clamp(1.375rem, 1.17rem + 1.02vw, 1.938rem);
}

@media (min-width: 1024px) {
  .l-page-header__heading {
    padding: 120px 0 64px;
  }
}

/*-------------------------
  メッセージ
-------------------------*/

.p-portrait {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}

.p-portrait__image {
  background: #f7f7f7;
  width: 100%;
  position: relative;
  height: 200px;
}

.p-portrait__image img {
  position: absolute;
  right: 8%;
  bottom: 0;
  height: 88%;
  width: auto;
}

.p-portrait__name {
  position: absolute;
  top: 60%;
  left: 8%;
  transform: translateY(-50%);
}

.p-portrait__name span {
  font-size: clamp(0.938rem, 0.915rem + 0.11vw, 1rem);
}

.p-portrait__name h2 {
  font-size: clamp(1.188rem, 1.051rem + 0.68vw, 1.563rem);
}

@media (min-width: 1024px) {
  .p-portrait__image {
    height: 320px;
  }

  .p-portrait__image img {
    right: 10%;
  }

  .p-portrait__name {
    left: 16%;
  }
}

.p-process {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  margin-bottom: 40px;
}

.p-process__texts {
  padding: 40px 6% 168px;
  position: relative;
  background-color: #047ac4;
  color: #fff;
}

.p-process__img {
  width: 94%;
  height: auto;
  margin-top: -128px;
  position: relative;
}
.p-process__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .p-process {
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 64px;
  }

  .p-process__texts {
    width: 68%;
    padding: 12% 6% 12% 24%;
  }

  .p-process__img {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    margin-top: 0;
    height: 38rem;
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .p-process__contents {
    gap: 64px;
  }
}


/*================================
	採用情報
=================================*/
.p-recruit__content {
  margin: 0 auto 40px;
  max-width: 620px;
}

.p-recruit__heading h3 {
  font-size: clamp(1.188rem, 1.051rem + 0.68vw, 1.563rem);
  padding-left: 28px;
  position: relative;
  display: inline-block;
  color: var(--main-color);
}

.p-recruit__heading h3::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 80%;
  background: var(--main-color);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.p-recruit__item {
  margin: 24px auto;
  max-width: 620px;
}

.p-recruit__desc {
  margin: 16px 0 60px;
}

.p-recruit__desc h4 {
  padding-bottom: 4px;
  border-bottom: 1px solid #dadada;
  font-size: clamp(1.063rem, 0.994rem + 0.34vw, 1.25rem);
}

.p-recruit__desc p {
  margin: 16px 0;
}

.p-recruit__desc span {
  margin: 16px 0 4px;
  display: block;
  font-weight: bold;
}

.p-recruit__desc ul {
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .p-recruit__item {
    margin-top: 40px;
  }
  .p-recruit__item h3 {
    font-size: 22px;
  }
  .p-recruit__desc {
    padding-bottom: 24px;
    margin-bottom: 24px;
    line-height: 2;
  }
}

.p-recruit__table {
  display: block;
  max-width: 620px;
  box-sizing: border-box;
  padding: 0 12px;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.p-recruit__table dl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.p-recruit__table dt {
  padding: 24px 0 8px 0;
  width: 100%;
  border-bottom: 0;
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 1.75;
}

.p-recruit__table dd {
  padding: 0 0 24px 0;
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 1.75;
  border-bottom: 1px solid #ccd3d3;
}

@media (min-width: 768px) {
  .p-recruit__table {
    margin: 0 auto 40px;
  }

  .p-recruit__table dl {
    flex-direction: row;
  }

  .p-recruit__table dt {
    width: 180px;
    padding: 32px 0;
    border-bottom: 1px solid var(--main-color);
  }

  .p-recruit__table dd {
    width: calc(100% - 180px);
    padding: 32px 0;
  }
}


.contactTable {
  width: 100%;
}

.contactTable tr {
  height: 100px; /*表組みのheightはmin-heightとして動作します（min-heightは無効）*/
}

.contactTable th {
  width: 32.4%;
  padding: 20px 40px 20px 0;
  vertical-align: middle;
}

.contactTable td {
  padding: 20px 0;
  vertical-align: middle;
}

.contactTable,
.contactTable tbody,
.contactTable tr,
.contactTable th,
.contactTable td {
  display: block;
}

.contactTable tr {
  height: auto;
}

.contactTable th {
  width: 100%;
  padding: 20px 0 0 0;
}

.contactTable td {
  padding: 10px 0 20px 0;
}

/*----------------------------------------
	Form Parts
----------------------------------------*/
/*各フォーム部品の基本スタイルを上書きします*/
.inputField input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none; /*ブラウザ標準スタイルを無効にする*/
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: inherit;
}

input[type=number],
input[type=password] {
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 4px;
}

/*フォーカス時*/
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=search]:focus,
textarea:focus,
select:focus,
input[type=number],
input[type=password] {
  outline: none;
  box-shadow: 0 0 5px rgba(55, 149, 47, 0.7);
}

/*エラー時*/
.is-error input[type=text],
.is-error input[type=email],
.is-error input[type=tel],
.is-error input[type=url],
.is-error input[type=number],
.is-error input[type=password],
.is-error textarea,
.is-error select,
.is-error .selectWrap {
  color: #df5656;
  border-color: #df5656;
}

/*select
--------------------------*/
.selectWrap {
  position: relative;
}

.selectWrap::after {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(45deg);
}

select::-ms-expand {
  /*IEでもselectの矢印を消す*/
  display: none;
}

/*radio, checkbox
------------------------------------*/
input[type=radio],
input[type=checkbox] {
  opacity: 0; /*透明にして見えなくする*/
  position: absolute; /*本来の配置から切り離す*/
}

/*クリック範囲*/
input[type=radio] + span,
input[type=checkbox] + span {
  display: inline-block;
  position: relative;
  margin: 0 2em 0 0;
  padding: 0.3em 0.3em 0.3em 2em;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}

/*フォーカス時*/
input[type=radio]:focus + span,
input[type=checkbox]:focus + span {
  outline: none;
  box-shadow: 0 0 5px rgba(55, 149, 47, 0.7);
}

/*ラジオボタンスタイル*/
input[type=radio] + span:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1.375em;
  height: 1.375em;
  border: 1px solid #ccc;
  border-radius: 50%;
  line-height: 1;
  background: #fff;
}

/*ラジオボタンチェック印（未選択）*/
input[type=radio] + span:after {
  content: "";
  display: none;
}

/*ラジオボタンチェック印（選択）*/
input[type=radio]:checked + span:after {
  display: block;
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  line-height: 1;
}

/*チェックボックススタイル*/
input[type=checkbox] + span:before {
  position: absolute;
  top: 0.3em;
  left: 0;
  content: "";
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1;
  vertical-align: middle;
}

/*チェックボックス未チェック時*/
input[type=checkbox] + span:after {
  content: "";
  display: none;
}

/*チェックボックスチェック時*/
input[type=checkbox]:checked + span:after {
  display: block;
  position: absolute;
  top: 0.3em;
  left: 0.4em;
  width: 0.5em;
  height: 1em;
  content: "";
  border-bottom: 3px solid #37952f;
  border-right: 3px solid #37952f;
  transform: rotate(45deg);
}

caption,
th {
  text-align: left;
}

/*----------------------------------------
	Form Layout
----------------------------------------*/
/*サブラベル*/
.inputSubLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

/*必須ラベル*/
.require {
  padding-left: 2px;
  color: red;
}

/*注意書き*/
.inputNote {
  margin-top: 10px;
  color: #707070;
  font-size: 12px;
}

/*名前・フリガナ*/
.nameLayout > * + * {
  margin-top: 10px;
}

@media screen and (min-width: 768px), print {
  .nameLayout {
    display: flex;
    justify-content: space-between;
  }
  .nameLayout > * {
    width: 48.68%;
  }
  .nameLayout > * + * {
    margin-top: 0;
  }
}
/*法人・個人*/
.radioList_hr {
  display: flex;
}

/*エラーメッセージ*/
.errorText {
  display: none;
  align-items: center;
  margin-top: 16px;
  color: #df5656;
  font-weight: bold;
}

.inputField.is-error .errorText {
  display: block;
}

.errorText::before {
  content: "";
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.2em;
  background: url(../img/icon_attention.svg) center center/contain no-repeat;
  vertical-align: middle;
}

/*----------------------------------------
	個人情報保護方針チェック
----------------------------------------*/
.privacyBox {
  margin: 0 0 24px;
}
.privacyBox a {
  text-decoration: underline;
  color: #337ab7;
}

.privacyBox__check {
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 768px), print {
  .privacyBox {
    padding: 20px;
    text-align: center;
  }
  .privacyBox__check {
    margin-top: 50px;
  }
}
/*----------------------------------------
	送信ボタン
----------------------------------------*/
.formBtns {
  display: flex;
  justify-content: center;
}

.buttonAction {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: block;
  margin: 0;
  padding: 12px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #047ac4;
  background: #047ac4;
  color: #fff;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1em;
  transition: opacity 0.3s, color 0.3s;
  cursor: pointer;
}

.buttonAction:hover {
  opacity: 0.7;
}

div.wpcf7 .wpcf7-spinner {
  display: none !important;
}

.selectbox-3 {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.selectbox-3::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
  pointer-events: none;
}

.selectbox-3 select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: 0.4em calc(0.8em + 30px) 0.4em 0.8em;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  background-color: #fff;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}

.p-contact__form {
  background: #fafafa;
  padding: 0 12px;
        margin-top: 40px;
}

@media (min-width: 1024px){
  .p-contact__form{
    padding: 20px 32px 60px;
  }
}

.p-contact__body{
  max-width: 620px;
  margin: 0 auto;
}

/*-------------------------
  animation
-------------------------*/

.js-reveal-text,
.js-reveal-text::after {
  animation-delay: var(--animation-delay, 2s);
  animation-iteration-count: var(--iterations, 1);
  animation-duration: var(--duration, 800ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.js-reveal-text {
  --animation-delay: var(--delay, 0);
  --animation-duration: var(--duration, 800ms);
  --animation-iterations: var(--iterations, 1);
  position: relative;
  font-size: 10vw;
  animation-name: clip-text;
  color: #FFF;
  white-space: nowrap;
  cursor: default;
  
  &::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: text-revealer;
  }
  
}

@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes text-revealer {
  
  0%, 50% {
    transform-origin: 0 50%;
  }
  
  60%, 100% {
    transform-origin: 100% 50%;   
  }

  
  60% {
    transform: scaleX(1);
  }
  
  100% {
    transform: scaleX(0);
  }
}

.js-fade-in.animated {
  opacity: 1;
}

.js-fade-in.delay{
  transition-delay: 0.3s; 
}

.js-fade-in {
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity, transform;
}

.fade-in-down {
  transform: translate(0, -50px);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}