@charset "UTF-8";
/* A Modern CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  height: auto;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/*================================
	ブレイクポイント
=================================*/
/*================================
	色設定
=================================*/
/*================================
	全体共通
=================================*/
body {
  font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans CJK JP Subset", "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo";
  font-weight: 500;
  color: #242422;
  line-height: 1.75;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

.-center {
  text-align: center;
}

.-background {
  background: #047ac4;
}

.-white {
  color: #fff;
}

.l-header {
  height: 60px;
  width: 100%;
  z-index: 100;
  position: absolute;
}

.l-header__inner {
  max-width: 1440px;
  margin: 0 auto;
}

.l-header__menu li {
  text-transform: uppercase;
  font-weight: bold;
}

.l-header__menu li:hover {
  color: #047ac4;
}

.l-header__logo {
  font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
  font-weight: bold;
  font-family: "klee", sans-serif;
  color: #fff;
}

@media not all and (min-width: 1024px) {
  /* メニューのスタイリング */
  .l-header {
    background: #fff;
  }
  .l-header__inner {
    padding: 8px 16px;
    margin: 0 auto;
  }
  .l-header__logo {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    z-index: 1000;
    letter-spacing: 1px;
  }
  .l-header__logo a {
    position: relative;
  }
  .l-header__nav {
    position: fixed;
    right: -100%; /* メニューの位置マイナス指定で画面外に */
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.3s;
  }
  .l-header__menu {
    display: flex;
    flex-direction: column;
    z-index: 100;
  }
  .l-header__menu li {
    display: flex;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid #ececec;
    letter-spacing: 0.1em;
    position: relative;
  }
  .l-header__menu li:first-child {
    border-top: 1px solid #ececec;
  }
  .l-header__menu a {
    position: relative;
    padding-left: 24px;
  }
  .l-header__menu a:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background: url(../images/common/arrow.svg) no-repeat center center/contain;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .l-header__menu a:hover {
    color: #047ac4;
  }
  .l-header__nav.open {
    position: absolute;
    right: 0; /* メニューオープン時位置0にして画面内に */
    z-index: 100;
    top: 60px;
  }
}
.scroll-prevent {
  overflow: hidden;
}

/* 1024px以上のスタイリング */
@media (min-width: 1024px) {
  .l-header {
    padding: 0 40px;
    height: 80px;
  }
  .l-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  .l-header__nav {
    display: flex;
  }
  .l-header__menu {
    /* メニューを横に */
    display: flex;
    gap: 40px;
    color: #fff;
  }
}
.current-menu-item {
  color: #047ac4;
}

.l-inner {
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
  margin: 0 auto;
}

.l-footer {
  padding: 40px 6% 24px;
  background: #212a37;
}

.l-footer__inner {
  max-width: 1200px;
  margin: 0 auto;
}

.l-footer__contents {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.l-footer__logo {
  color: #a6adb6;
  font-size: clamp(1.125rem, 1.034rem + 0.45vw, 1.375rem);
}

.l-footer__address {
  color: #a6adb6;
  font-size: 14px;
  margin-top: 8px;
}

.l-footer__menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.l-footer__menu li {
  color: #a6adb6;
}

.l-footer__copy {
  font-size: 12px;
  color: #555;
  margin-top: 64px;
  display: block;
  font-family: "Jost", sans-serif;
}

@media (min-width: 1024px) {
  .l-footer {
    padding: 64px 40px 40px;
  }
  .l-footer__logo {
    width: 200px;
  }
  .l-footer__contents {
    flex-direction: row;
    justify-content: space-between;
  }
  .l-footer__menu {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
  }
  .l-footer__copy {
    text-align: right;
  }
}
.l-page-header {
  background: url(../images/common/boards.jpg) no-repeat center center/cover;
}

.l-page-header__heading {
  text-align: center;
  padding: 120px 0 64px;
}

.l-page-header__heading span {
  text-transform: uppercase;
  color: #fff;
  font-family: "Lato", serif;
  font-weight: 400;
  font-size: clamp(2.5rem, 1.227rem + 6.36vw, 6rem);
  letter-spacing: 2px;
  line-height: 1.2;
}

.l-page-header__heading h2 {
  color: #fff;
  font-size: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
}

@media (min-width: 1024px) {
  .l-page-header__heading {
    padding: 120px 0 64px;
  }
}
/* ハンバーガーメニュー */
.c-hamburger {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ハンバーガーメニューの基準線 */
.c-hamburger__line {
  display: block;
  position: relative;
  width: 24px;
  height: 1px;
  background-color: #047ac4;
  transition: 0.2s;
  margin: 0 auto;
}

/* ハンバーガーメニューの上下線 */
.c-hamburger__line::before,
.c-hamburger__line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #047ac4;
  transition: 0.5s;
  left: 0;
}

.c-hamburger__line::before {
  transform: translateY(-10px); /* 上の線の位置 */
}

.c-hamburger__line::after {
  transform: translateY(10px); /* 下の線の位置 */
}

/* メニューオープン時 */
.c-hamburger__line.open {
  background-color: transparent; /* 真ん中の線を透明に */
}

.c-hamburger__line.open::before,
.c-hamburger__line.open::after {
  content: "";
  background-color: #047ac4;
  transition: 0.2s;
}

.c-hamburger__line.open::before {
  transform: rotate(45deg); /* 上の線を傾ける */
}

.c-hamburger__line.open::after {
  transform: rotate(-45deg); /* したの線を傾ける */
}

@media (min-width: 1024px) {
  .c-hamburger {
    display: none;
  }
}
.c-button {
  position: relative;
  margin: 36px auto 0;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 1024px) {
  .c-button.-left_pc {
    margin-left: 0;
  }
}
.c-button-link {
  padding: 10px 40px 10px 32px;
  display: inline grid;
  grid-template-columns: 1fr auto 1fr;
  -moz-column-gap: 1em;
       column-gap: 1em;
  align-items: center;
  inline-size: min(100%, 400px);
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  color: #047ac4;
  border: 2px solid #047ac4;
  transition: 0.2s;
}
.c-button-link::before {
  content: ""; /* 空の疑似要素を用意する */
}
.c-button-link::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/common/arrow.svg) no-repeat center center/contain;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.c-button-link:hover {
  color: #047ac4;
  background: #fff;
}
.c-button-link:hover::after {
  background: url(../images/common/arrow-circle.svg) no-repeat center center/contain;
  width: 20px;
  height: 20px;
  right: 6%;
}

.c-button-link.__white {
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  background: transparent;
  transition: 0.2s;
}
.c-button-link.__white::after {
  background: url(../images/common/arrow-white.svg) no-repeat center center/contain;
}

.c-button-link.__white:hover {
  background: #047ac4;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  text-decoration: underline;
}
.c-button-link.__white:hover::after {
  background: url(../images/common/arrow-white.svg) no-repeat center center/contain;
  width: 10px;
  height: 10px;
}

.c-cta {
  background: url(../images/top/top-recruit2.jpg) no-repeat center center/cover;
  padding: 48px 0;
}

.c-cta__heading {
  display: flex;
  align-items: center;
}

.c-cta__heading span {
  color: #fff;
  text-transform: uppercase;
  font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
  font-family: "Lato", serif;
  font-weight: 400;
}

.c-cta__heading h2 {
  color: #fff;
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  margin-left: 16px;
  margin-top: 4px;
}

.c-cta__content {
  margin-top: 8px;
}

.c-cta__textarea {
  color: #fff;
}

.c-cta__link {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}

.c-cta__button {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

.c-cta__button a {
  padding: 10px 40px 10px 32px;
  display: inline grid;
  grid-template-columns: 1fr auto 1fr;
  -moz-column-gap: 1em;
       column-gap: 1em;
  align-items: center;
  inline-size: min(100%, 400px);
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  color: #fff;
  border: 2px solid #fff;
  transition: 0.2s;
}
.c-cta__button a::before {
  content: ""; /* 空の疑似要素を用意する */
}
.c-cta__button a::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/common/arrow-white.svg) no-repeat center center/contain;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

@media (min-width: 768px) {
  .c-cta__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .c-cta__link {
    gap: 40px;
    margin-top: 12px;
  }
}
@media (min-width: 768px) {
  .c-cta {
    padding: 88px 0;
  }
}
.contactTable {
  width: 100%;
}

.contactTable tr {
  height: 100px; /*表組みのheightはmin-heightとして動作します（min-heightは無効）*/
}

.contactTable th {
  width: 32.4%;
  padding: 20px 40px 20px 0;
  vertical-align: middle;
}

.contactTable td {
  padding: 20px 0;
  vertical-align: middle;
}

.contactTable,
.contactTable tbody,
.contactTable tr,
.contactTable th,
.contactTable td {
  display: block;
}

.contactTable tr {
  height: auto;
}

.contactTable th {
  width: 100%;
  padding: 20px 0 0 0;
}

.contactTable td {
  padding: 10px 0 20px 0;
}

/*----------------------------------------
	Form Parts
----------------------------------------*/
/*各フォーム部品の基本スタイルを上書きします*/
.inputField input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none; /*ブラウザ標準スタイルを無効にする*/
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: inherit;
}

input[type=number],
input[type=password] {
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 4px;
}

/*フォーカス時*/
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=search]:focus,
textarea:focus,
select:focus,
input[type=number],
input[type=password] {
  outline: none;
  box-shadow: 0 0 5px rgba(55, 149, 47, 0.7);
}

/*エラー時*/
.is-error input[type=text],
.is-error input[type=email],
.is-error input[type=tel],
.is-error input[type=url],
.is-error input[type=number],
.is-error input[type=password],
.is-error textarea,
.is-error select,
.is-error .selectWrap {
  color: #df5656;
  border-color: #df5656;
}

/*select
--------------------------*/
.selectWrap {
  position: relative;
}

.selectWrap::after {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(45deg);
}

select::-ms-expand {
  /*IEでもselectの矢印を消す*/
  display: none;
}

/*radio, checkbox
------------------------------------*/
input[type=radio],
input[type=checkbox] {
  opacity: 0; /*透明にして見えなくする*/
  position: absolute; /*本来の配置から切り離す*/
}

/*クリック範囲*/
input[type=radio] + span,
input[type=checkbox] + span {
  display: inline-block;
  position: relative;
  margin: 0 2em 0 0;
  padding: 0.3em 0.3em 0.3em 2em;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}

/*フォーカス時*/
input[type=radio]:focus + span,
input[type=checkbox]:focus + span {
  outline: none;
  box-shadow: 0 0 5px rgba(55, 149, 47, 0.7);
}

/*ラジオボタンスタイル*/
input[type=radio] + span:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1.375em;
  height: 1.375em;
  border: 1px solid #ccc;
  border-radius: 50%;
  line-height: 1;
  background: #fff;
}

/*ラジオボタンチェック印（未選択）*/
input[type=radio] + span:after {
  content: "";
  display: none;
}

/*ラジオボタンチェック印（選択）*/
input[type=radio]:checked + span:after {
  display: block;
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  line-height: 1;
}

/*チェックボックススタイル*/
input[type=checkbox] + span:before {
  position: absolute;
  top: 0.3em;
  left: 0;
  content: "";
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1;
  vertical-align: middle;
}

/*チェックボックス未チェック時*/
input[type=checkbox] + span:after {
  content: "";
  display: none;
}

/*チェックボックスチェック時*/
input[type=checkbox]:checked + span:after {
  display: block;
  position: absolute;
  top: 0.3em;
  left: 0.4em;
  width: 0.5em;
  height: 1em;
  content: "";
  border-bottom: 3px solid #37952f;
  border-right: 3px solid #37952f;
  transform: rotate(45deg);
}

caption,
th {
  text-align: left;
}

/*----------------------------------------
	Form Layout
----------------------------------------*/
/*サブラベル*/
.inputSubLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

/*必須ラベル*/
.require {
  padding-left: 2px;
  color: red;
}

/*注意書き*/
.inputNote {
  margin-top: 10px;
  color: #707070;
  font-size: 12px;
}

/*名前・フリガナ*/
.nameLayout > * + * {
  margin-top: 10px;
}

@media screen and (min-width: 768px), print {
  .nameLayout {
    display: flex;
    justify-content: space-between;
  }
  .nameLayout > * {
    width: 48.68%;
  }
  .nameLayout > * + * {
    margin-top: 0;
  }
}
/*法人・個人*/
.radioList_hr {
  display: flex;
}

/*エラーメッセージ*/
.errorText {
  display: none;
  align-items: center;
  margin-top: 16px;
  color: #df5656;
  font-weight: bold;
}

.inputField.is-error .errorText {
  display: block;
}

.errorText::before {
  content: "";
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.2em;
  background: url(../img/icon_attention.svg) center center/contain no-repeat;
  vertical-align: middle;
}

/*----------------------------------------
	個人情報保護方針チェック
----------------------------------------*/
.privacyBox {
  margin: 0 0 24px;
}
.privacyBox a {
  text-decoration: underline;
  color: #337ab7;
}

.privacyBox__check {
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 768px), print {
  .privacyBox {
    padding: 20px;
    text-align: center;
  }
  .privacyBox__check {
    margin-top: 50px;
  }
}
/*----------------------------------------
	送信ボタン
----------------------------------------*/
.formBtns {
  display: flex;
  justify-content: center;
}

.buttonAction {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: block;
  margin: 0;
  padding: 12px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #047ac4;
  background: #047ac4;
  color: #fff;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1em;
  transition: opacity 0.3s, color 0.3s;
  cursor: pointer;
}

.buttonAction:hover {
  opacity: 0.7;
}

div.wpcf7 .wpcf7-spinner {
  display: none !important;
}

.selectbox-3 {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.selectbox-3::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
  pointer-events: none;
}

.selectbox-3 select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: 0.4em calc(0.8em + 30px) 0.4em 0.8em;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  background-color: #fff;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}

.c-heading__top span {
  text-transform: uppercase;
  font-family: "Lato", serif;
  color: #047ac4;
  font-size: clamp(1.75rem, 0.932rem + 4.09vw, 4rem);
  letter-spacing: 1px;
  line-height: 1.2;
}

.c-heading__top h2 {
  color: #047ac4;
  font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
}

.c-heading__section span {
  color: #047ac4;
  text-transform: capitalize;
  font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
  font-family: "Lato", serif;
  font-weight: 400;
}

.c-heading__section h2 {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  letter-spacing: 1px;
}

.c-heading__section span.-white {
  color: #fff;
}

.c-section {
  padding: 40px 0;
}

@media (min-width: 1024px) {
  .c-section {
    padding: 64px 0;
  }
}
.c-section__heading h2 {
  position: relative;
  text-align: center;
  padding-top: 16px;
}

.c-section__textarea {
  margin-top: 24px;
}

.c-section__textarea p {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .c-section__grid {
    display: grid;
    grid-template-columns: 6fr 4fr; /* 7:3 の比率 */
    gap: 24px; /* 任意の間隔 */
    align-items: center;
  }
}
.c-post {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.c-post__meta {
  display: flex;
  align-items: center;
}
.c-post__meta time {
  font-size: 14px;
  color: #888888;
}
.c-post__meta p {
  color: #fff;
  background: #f5a2cb;
  border-radius: 4px;
  font-size: 14px;
  width: 6em;
  /* 親要素の文字サイズを基準 */
  text-align: center;
  margin-left: 20px;
}

.c-post__title {
  font-size: 22px;
  margin-top: 16px;
  line-height: 1.5;
}

.c-post__thumbnail {
  margin-top: 16px;
}
.c-post__thumbnail img {
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-post__main {
  margin-top: 32px;
}
.c-post__main h2 {
  font-size: 22px;
  margin-top: 48px;
  line-height: 1.5;
}
.c-post__main h3 {
  margin-top: 36px;
  font-size: 20px;
  line-height: 1.5;
}
.c-post__main p {
  margin-top: 20px;
  line-height: 1.85;
}
.c-post__main img {
  margin-top: 32px;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-post__main ul {
  margin-top: 20px;
}
.c-post__main li {
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 8px;
}
.c-post__main li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #d9d5cd;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5em;
  margin-top: -4px;
}

@media (min-width: 1024px) {
  .c-post {
    width: 72%;
    padding: 48px 68px;
  }
  .c-post__meta time {
    font-size: 16px;
  }
  .c-post__title {
    font-size: 36px;
  }
  .c-post__main h2 {
    font-size: 24px;
    margin-top: 68px;
  }
  .c-post__main h3 {
    margin-top: 52px;
  }
  .c-post__main p {
    margin-top: 32px;
    font-size: 18px;
  }
  .c-post__main ul {
    margin-top: 36px;
  }
  .c-post__main li {
    font-size: 18px;
  }
  .c-post__main img {
    margin-top: 36px;
  }
}
.c-tab__list {
  display: flex;
  margin: 0 -10px;
  color: #9fa0a0;
  font-weight: 300;
}

.c-tab__list > .active {
  color: #047ac4;
  font-weight: bold;
}

.c-tab__item {
  cursor: pointer;
  border-bottom: 1px solid;
  text-align: center;
  margin: 0 10px;
  padding: 0 0 10px;
  width: 33.3333333333%;
}

.content {
  display: none;
}

.content.show {
  display: block;
}

.c-table {
  width: 100%;
  max-width: 720px;
  margin: 24px auto 0;
  border-collapse: collapse;
}

.c-table > th,
td {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.c-table th {
  width: 100px;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  padding: 24px 0;
}

.c-table td {
  padding: 24px 0 24px 12px;
}

@media (min-width: 1024px) {
  .c-table {
    margin-top: 40px;
  }
  .c-table th {
    width: 25%;
    max-width: 200px;
    padding-left: 12px;
  }
}
.c-textarea {
  max-width: 680px;
  margin: 32px auto 0;
}

.c-textarea h3 {
  margin-top: 36px;
  font-size: 20px;
  line-height: 1.5;
  border-bottom: 1px solid #fff;
  padding-bottom: 4px;
}

.c-textarea p {
  margin-top: 32px;
  line-height: 1.85;
}

.c-textarea ul {
  margin-top: 20px;
}

.c-textarea li {
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 8px;
}
.c-textarea li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5em;
  margin-top: -4px;
}

.p-error {
  padding: 48px 0;
}

.p-error__contents {
  background: #f5f5f5;
  padding: 20px 16px;
  margin: 0 auto;
  max-width: 800px;
}
.p-error__contents h2 {
  color: #047ac4;
  margin-bottom: 12px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .p-error {
    padding: 64px 0;
  }
  .p-error__contents {
    padding: 40px 40px 24px;
  }
  .p-error__contents h2 {
    font-size: 22px;
  }
  .p-error__contents p {
    font-size: 18px;
  }
}
.p-contact__body {
  max-width: 720px;
  margin: 0 auto;
}

.p-contact__form {
  background: #fafafa;
  padding: 0 12px;
}

.p-contact__lead p {
  margin-bottom: 12px;
}
.p-contact__lead a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .p-contact__form {
    margin-top: 40px;
    padding: 20px 32px 60px;
  }
}
.p-contact__tel {
  text-align: center;
  line-height: 1.4;
  background: #f7f7f7;
  padding: 24px 0;
  margin-top: 32px;
  margin-bottom: 40px;
}
.p-contact__tel a {
  display: inline-block;
  font-size: 32px;
  letter-spacing: 1px;
  position: relative;
}
.p-contact__tel a small {
  font-size: 18px;
  text-transform: uppercase;
}
.p-contact__tel span {
  font-size: 14px;
  display: block;
  padding-top: 8px;
}

.p-main-visual {
  background: url(../images/top/mv2.jpg) no-repeat center center/cover;
  height: 74vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-main-visual__copy {
  text-align: center;
}

.p-main-visual__copy h1 {
  text-transform: uppercase;
  color: #fff;
  font-family: "Lato", serif;
  font-weight: 400;
  font-size: clamp(2.5rem, 1.227rem + 6.36vw, 6rem);
  letter-spacing: 2px;
}

.p-main-visual__copy p {
  color: #fff;
  font-size: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
}

@media (min-width: 1024px) {
  .p-main-visual {
    height: 84vh;
  }
}
.p-portrait {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}

.p-portrait__image {
  background: #f7f7f7;
  width: 100%;
  position: relative;
  height: 200px;
}

.p-portrait__image img {
  position: absolute;
  right: 8%;
  bottom: 0;
  height: 88%;
  width: auto;
}

.p-portrait__name {
  position: absolute;
  top: 60%;
  left: 8%;
  transform: translateY(-50%);
}

.p-portrait__name span {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
}

.p-portrait__name h2 {
  font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
}

@media (min-width: 1024px) {
  .p-portrait__image {
    height: 320px;
  }
  .p-portrait__image img {
    right: 10%;
  }
  .p-portrait__name {
    left: 16%;
  }
}
.p-process {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  margin-bottom: 40px;
}

.p-process__texts {
  padding: 40px 6% 168px;
  position: relative;
  background-color: #047ac4;
  color: #fff;
}

.p-process__img {
  width: 94%;
  height: auto;
  margin-top: -128px;
  position: relative;
}
.p-process__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .p-process {
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 64px;
  }
  .p-process__texts {
    width: 68%;
    padding: 12% 6% 12% 24%;
  }
  .p-process__img {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    margin-top: 0;
    height: 38rem;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .p-process__contents {
    gap: 64px;
  }
}
.p-recruit__content {
  margin: 0 auto 40px;
  max-width: 800px;
}

.p-recruit__heading {
  text-align: center;
}

.p-recruit__heading h3 {
  font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
  padding-left: 28px;
  position: relative;
  display: inline-block;
}

.p-recruit__heading h3::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/common/check.svg) no-repeat center center/contain;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.p-recruit__item {
  margin-top: 24px;
}

.p-recruit__desc {
  margin: 16px 0 24px;
}

.p-recruit__desc h4 {
  padding-bottom: 4px;
  border-bottom: 1px solid #dadada;
  font-size: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
}

.p-recruit__desc p {
  margin: 8px 0 16px;
}

.p-recruit__desc span {
  margin: 16px 0 4px;
  display: block;
  font-weight: bold;
}

.p-recruit__desc ul {
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .p-recruit__item {
    margin-top: 40px;
  }
  .p-recruit__item h3 {
    font-size: 22px;
  }
  .p-recruit__desc {
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
  .p-recruit__desc h4 {
    font-size: 18px;
  }
  .p-recruit__desc p {
    font-size: 18px;
  }
}
.p-recruit__table {
  display: block;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0 12px;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}
.p-recruit__table dl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.p-recruit__table dt {
  padding: 24px 0 8px 0;
  width: 100%;
  border-bottom: 0;
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 1.75;
}
.p-recruit__table dd {
  padding: 0 0 24px 0;
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 1.75;
  border-bottom: 1px solid #ccd3d3;
}

@media (min-width: 768px) {
  .p-recruit__table {
    margin: 0 auto 40px;
  }
  .p-recruit__table dl {
    flex-direction: row;
  }
  .p-recruit__table dt {
    width: 180px;
    padding: 32px 0;
    border-bottom: 1px solid #047ac4;
  }
  .p-recruit__table dd {
    width: calc(100% - 180px);
    padding: 32px 0;
  }
}
.p-top-company {
  padding: 40px 0 0;
}

.p-top-company__list {
  margin-top: 24px;
}

.p-top-company__link {
  color: #fff;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 200px;
  width: 100%;
}

.p-top-company__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.p-top-company__image._image-company {
  background: url(../images/top/buildings.jpg) no-repeat center center/cover;
}

.p-top-company__image._image-message {
  background: url(../images/top/messages.jpg) no-repeat center center/cover;
}

.p-top-company__title {
  text-align: center;
  z-index: 2;
  width: 100%;
}

.p-top-company__title h3 {
  position: relative;
  width: 200px;
  margin: 0 auto;
  font-size: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
}

.p-top-company__title h3::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: url(../images/common/arrow-white.svg) no-repeat center center/contain;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .p-top-company__list {
    display: flex;
  }
  .p-top-company__link {
    height: 350px;
  }
}
@media (min-width: 1024px) {
  .p-top-company {
    padding: 64px 0 0;
  }
}
.p-top-recruit {
  padding: 40px 0;
}

.p-top-recruit__content {
  background: url(../images/top/top-recruit2.jpg) no-repeat top center/cover;
  padding: 16px;
  margin: 16px auto 0;
  text-align: justify;
  max-width: 880px;
}

.p-top-recruit__content p {
  margin: 0 auto 8px;
  color: #fff;
  max-width: 600px;
}

@media (min-width: 1024px) {
  .p-top-recruit {
    padding: 64px 0;
  }
  .p-top-recruit__content {
    padding: 48px;
  }
}
.p-top-service {
  padding: 40px 0;
  position: relative;
}
@media (min-width: 1024px) {
  .p-top-service {
    padding: 64px 0;
  }
}

.p-top-service::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 50%;
  background: #f7f7f7;
  right: 0;
  top: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .p-top-service::before {
    width: 64%;
    height: 80%;
  }
}

.p-top-service__wrap {
  display: grid;
  gap: 6px;
}
@media (min-width: 768px) {
  .p-top-service__wrap {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "grid-area1 grid-area2";
    gap: 0 40px;
  }
}

@media (min-width: 768px) {
  .p-top-service__content {
    grid-area: grid-area1;
  }
}

.p-top-service-desc {
  margin-top: 16px;
}

.p-top-service__image-gallery {
  display: flex;
  gap: 6px;
  max-width: 100%;
  overflow: hidden; /* はみ出しを防ぐ */
  margin-top: 40px;
}
@media (min-width: 768px) {
  .p-top-service__image-gallery {
    gap: 20px;
  }
}

.p-top-service__image-gallery img {
  width: calc(50% - 3px);
  display: block;
}

@media (min-width: 768px) {
  .p-top-service__image {
    grid-area: grid-area2;
  }
}

.p-top-service__image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}