.p-portrait {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}

.p-portrait__image {
  background: #f7f7f7;
  width: 100%;
  position: relative;
  height: 200px;
}

.p-portrait__image img {
  position: absolute;
  right: 8%;
  bottom: 0;
  height: 88%;
  width: auto;
}

.p-portrait__name {
  position: absolute;
  top: 60%;
  left: 8%;
  transform: translateY(-50%);
}

.p-portrait__name span {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem) /* 16-18px */;
}

.p-portrait__name h2 {
  font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
}

@media (min-width: 1024px) {
  .p-portrait__image {
    height: 320px;
  }

  .p-portrait__image img {
    right: 10%;
  }

  .p-portrait__name {
    left: 16%;
  }
}
