@use "../setting/setting";

.p-top-service {
  padding: 40px 0;
  position: relative;

  @media (min-width: 1024px) {
    padding: 64px 0;
  }
}

.p-top-service::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 50%;
  background: #f7f7f7;
  right: 0;
  top: 0;
  z-index: -1;

  @media (min-width: 768px) {
    width: 64%;
    height: 80%;
  }
}

.p-top-service__wrap {
  display: grid;
  gap: 6px;

  @media (min-width: 768px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "grid-area1 grid-area2";
    gap: 0 40px;
  }
}

.p-top-service__content {
  @media (min-width: 768px) {
    grid-area: grid-area1;
  }
}

.p-top-service-desc {
  margin-top: 16px;
}

.p-top-service__image-gallery {
  display: flex;
  gap: 6px;
  max-width: 100%;
  overflow: hidden; /* はみ出しを防ぐ */
  margin-top: 40px;

  @media (min-width: 768px) {
    gap: 20px;
  }
}

.p-top-service__image-gallery img {
  width: calc(50% - 3px);
  display: block;
}

.p-top-service__image {
  @media (min-width: 768px) {
    grid-area: grid-area2;
  }
}

.p-top-service__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
